<div class="container container--page">
  <h1 class="text-color">Lista pojazdów (przykład)</h1>

  <ul class="list list--clickable">

  </ul>

  <h2 class="text-color">Wybieranie danych pojazdu</h2>

  <div class="grid">
    <div class="col-6">
      <p-dropdown
        [style]="{'width':'100%'}"
        [options]="vehicleStatusOptions"
        [(ngModel)]="vehicleStatus"
        [showClear]="true"
        placeholder="Select a City">
      </p-dropdown>
    </div>
    <div class="col-6">
      <p-dropdown
        [style]="{'width':'100%'}"
        [options]="vehicleTypeOptions"
        [(ngModel)]="vehicleType"
        [showClear]="true"
        placeholder="Select a City">
      </p-dropdown>
    </div>
  </div>

  <div class="flex gap-2">
    <p class="text-color">Wybrany status:</p>

  </div>

  <div class="flex gap-2">
    <p class="text-color">Wybrany typ:</p>

  </div>
</div>
