<div class="container container--page container--shrink">
  <h1 class="text-color">Structural Directives (renderowanie elementów)</h1>

  <div class="flex justify-content-end">
    <a href="https://angular.io/guide/structural-directives" target="_blank" rel="noopener noreferrer"
       icon="pi pi-check"
       class="p-button p-button-sm font-bold">
      <i class="pi pi-link pr-2"></i>
      <span>Dokumentacja</span>
    </a>
  </div>

  <p class="text-color"><span class="font-bold">Dyrektywy strukturalne </span>są używane do manipulowania strukturą DOM
    na podstawie warunków logicznych. Są one wykorzystywane do dodawania, usuwania lub zmieniania elementów w zależności
    od wartości zmiennych lub warunków w kodzie komponentu.
  </p>

  <p class="text-color">
    Rozpoznasz je po znaku gwiazdki (*) poprzedzającym ich nazwę. Przykładowe dyrektywy strukturalne
    to <span class="font-bold">*ngIf, *ngFor, *ngSwitch </span> itp.
  </p>

  <ul>
    <li class="text-color mb-2"><span class="font-bold">*ngIf:</span> Pozwala na warunkowe dodanie lub usunięcie
      elementu z drzewa DOM w zależności od wartości wyrażenia warunkowego.
    </li>
    <li class="text-color mb-2"><span class="font-bold">*ngFor:</span> Służy do iteracji przez kolekcję i tworzenia
      powtarzalnych elementów na podstawie każdego elementu w kolekcji.
    </li>
    <li class="text-color mb-2"><span class="font-bold">*ngSwitch:</span> Pozwala na dynamiczne przełączanie między
      elementami na podstawie wartości wyrażenia.
    </li>
  </ul>

  <p class="text-color">
    Korzystanie z tych dyrektyw pozwala na bardziej dynamiczne zarządzanie strukturą DOM w zależności od danych i
    warunków w komponencie Angulara.
  </p>
</div>
