<div class="container container--page container--shrink">
  <h1 class="text-color">Lorem ipsum</h1>

  <div class="flex justify-content-end">
    <a href="https://www.google.com/" target="_blank" rel="noopener noreferrer" icon="pi pi-check"
       class="p-button p-button-sm font-bold">
      <i class="pi pi-link pr-2"></i>
      <span>Link</span>
    </a>
  </div>

  <p class="text-color"><span class="font-bold">Lorem ipsum </span>dolor sit amet, consectetur adipiscing elit.
    Phasellus at consequat ex. Sed sodales nunc ut consequat tempus. Vestibulum efficitur justo elit, non aliquam ante
    consequat convallis. Suspendisse lobortis ex eros, varius rhoncus mauris rhoncus eu. Etiam pretium nec arcu at
    gravida. Fusce at malesuada turpis. Mauris dignissim elementum quam tempus vestibulum. Nam sodales risus et ante
    sodales hendrerit. Aenean et maximus odio, ut efficitur ligula. Nam at condimentum eros. Nunc interdum fermentum
    massa. Ut pellentesque vitae sem vitae varius. Etiam non ultricies lorem. Aliquam vitae velit urna. Aenean ultricies
    orci congue posuere commodo.</p>

  <p class="text-color">Quisque iaculis, lectus sit amet commodo feugiat, ligula diam sodales ipsum, sit amet egestas
    enim mi et turpis. Maecenas pretium finibus dolor nec <span class="font-bold">elementum</span>. Nunc sed sem vel
    felis sagittis congue. </p>

  <p class="text-color">Główne zalety <span class="font-bold">NgRx</span> to:</p>
  <ul>
    <li class="text-color mb-2"><span class="font-bold">Jednolitość:</span> Wszystkie zmiany w stanie aplikacji są
      wykonywane w sposób jednostronny i przewidywalny, co ułatwia debugowanie i utrzymanie kodu.
    </li>
    <li class="text-color mb-2"><span class="font-bold">Unikalność źródła prawdy:</span> Stan aplikacji jest
      przechowywany w jednym miejscu (w store), co eliminuje możliwość niezgodności danych.
    </li>
    <li class="text-color mb-2"><span class="font-bold">Łatwość testowania:</span> Możliwość testowania reduktorów oraz
      selektorów pozwala na łatwe pisanie testów jednostkowych.
    </li>
    <li class="text-color mb-2"><span class="font-bold">Łatwość w reagowaniu na zmiany:</span> Mechanizm subskrypcji do
      zmian w stanie pozwala na reagowanie na te zmiany w komponentach interfejsu użytkownika.
    </li>
  </ul>

  <p class="text-color"><span class="font-bold">NgRx</span> składa się z kilku głównych części:</p>
  <ul>
    <li class="text-color mb-2"><span class="font-bold">Actions:</span> to zdarzenia, które opisują jakie zmiany mają
      zostać dokonane w stanie aplikacji.
    </li>
    <li class="text-color mb-2"><span class="font-bold">Reducers:</span> to funkcja, która przyjmuje aktualny stan i
      akcję, a następnie zwraca nowy stan.
    </li>
    <li class="text-color mb-2"><span class="font-bold">Selectors:</span> to funkcje, które pozwalają na wybieranie
      konkretnych kawałków stanu aplikacji.
    </li>
    <li class="text-color mb-2"><span class="font-bold">Store:</span> Centralne miejsce przechowywania stanu aplikacji.
    </li>
    <li class="text-color mb-2"><span class="font-bold">Effects:</span> to mechanizm do zarządzania asynchronicznymi
      operacjami, takimi jak mp. pobieranie danych z serwera.
    </li>
  </ul>

  <p class="text-color"><span class="font-bold">Schemat zarządzania stanem</span> za pomocą NgRx:</p>
  <img class="block w-full" src="./../../../assets/state-management-lifecycle.png">

  <p class="text-color">Do korzystania z NgRx wymagana jest instalacja:</p>
  <ul>
    <li class="text-color mb-2"><a class="font-bold" href="https://www.npmjs.com/package/@ngrx/effects" target="_blank">@ngrx/effects</a>
    </li>
    <li class="text-color mb-2"><a class="font-bold" href="https://www.npmjs.com/package/@ngrx/router-store"
                                   target="_blank">@ngrx/router-store</a></li>
    <li class="text-color mb-2"><a class="font-bold" href="https://www.npmjs.com/package/@ngrx/store" target="_blank">@ngrx/store</a>
    </li>
    <li class="text-color mb-2"><a class="font-bold" href="https://www.npmjs.com/package/@ngrx/store-devtools"
                                   target="_blank">@ngrx/store-devtools</a></li>
  </ul>

  <p class="text-color">Warto również zainstalować do swojej przeglądarki rozszerzenie <span class="font-bold">Redux DevTools</span>.
    Umożliwia łatwe debugowanie i monitorowanie stanu aplikacji. Oferuje szereg narzędzi do śledzenia
    akcji, stanu magazynu (store), podrzędnych stanów i wiele innych. Pozwala programistom na łatwe śledzenie zmian
    stanu, debugowanie akcji oraz analizę wydajności aplikacji opartej na NgRx. Jest to pomocne narzędzie podczas
    rozwijania i testowania złożonych aplikacji tworzonych w Angular z użyciem NgRx.
  </p>

  <p class="text-color">Pobierz <span class="font-bold">Redux DevTools</span> dla: </p>
  <ul>
    <li class="text-color mb-2">
      <span class="font-bold">Chrome: </span>
      <a href="https://chromewebstore.google.com/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd"
         target="_blank">Chrome Web Store</a>
    </li>
    <li class="text-color mb-2">
      <span class="font-bold">Firefox: </span>
      <a href="https://addons.mozilla.org/pl/firefox/addon/reduxdevtools/"
         target="_blank">Firefox Browser Add-Ons</a>
    </li>
  </ul>
</div>
